<br>
Hello from section file
<br>

<h2>{{ product.title }}</h2>
<img src="{{ product.featured_image | img_url: '300x'}}" />

{% if seciton.settings.show_reviews %}
<h4>4 star review </h4>
{% endif %}

{% schema %}
    {
        "name": "product page content",
        "settings": [
            {
                "id": "tax",
                "label": "tax notice",
                "type": "text"

            },
            {
                "id": "shipping",
                "label": "shipping notice",
                "type": "text"

            },
            {
                "id": "show_reviews",
                "label": "show reviews?",
                "type": "checkbox"

            }

        ]
    }

{% endschema %}
